---
import Layout from '../layouts/Layout.astro'

import landingPage1 from '@public/imgs/1.png'
import landingPage2 from '@public/imgs/2.png'
import landingPage3 from '@public/imgs/3.png'
import landingPage4 from '@public/imgs/4.png'
import { Image } from 'astro:assets'

const LANDING_PAGES = [
	{
		img: landingPage1,
		alt: 'landing page 1',
		href: '/landing-pages/1',
	},
	{
		img: landingPage2,
		alt: 'landing page 2',
		href: '/landing-pages/2',
	},
	{
		img: landingPage3,
		alt: 'landing page 3',
		href: '/landing-pages/3',
	},
	{
		img: landingPage4,
		alt: 'landing page 4',
		href: '/landing-pages/4',
	},
] as const
---

<Layout
	title='Landing Pages'
	description='A collection of beautifully animated landing pages'
>
	<main class='bg-slate-800'>
		<ul class='grid h-svh grid-cols-2 grid-rows-2'>
			{
				LANDING_PAGES.map((landingPage) => (
					<li class='border border-black opacity-50 transition-opacity hover:opacity-100'>
						<a href={landingPage.href} aria-label={landingPage.alt}>
							<Image
								src={landingPage.img}
								alt={landingPage.alt}
								loading='eager'
								class='size-full object-cover'
							/>
						</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
