---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title='Landing Pages'
	description='A collection of beautifully animated landing pages'
>
	<ul>
		<li><a href='/photographer'>Photographer</a></li>
		<li><a href='/furniture-store'>Furniture Store</a></li>
	</ul>
</Layout>
