---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title='Landing Pages'
	description='A collection of beautifully animated landing pages'
>
	<main class='h-svh w-full bg-amber-300 p-8'>
		<ul class='list-inside list-disc text-lg font-semibold text-slate-700'>
			<li><a href='/photography-1'>Photography one</a></li>
			<li><a href='/photography-2'>Photography two</a></li>
			<li><a href='/furniture-store'>Furniture Store</a></li>
			<li><a href='/portfolio'>Portfolio</a></li>
		</ul>
	</main>
</Layout>
