---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
	<main>
		<section class='hero'>
			<div class='pre-loader'>
				<p class='loading'></p>

				<div class='counter'>
					<div class='digit-1'>
						<div class='num'>0</div>
						<div class='num'>1</div>
					</div>

					<div class='digit-2'>
						{
							Array.from({ length: 11 }).map((_, i) => (
								<div class='num'>{i === 10 ? 0 : i}</div>
							))
						}
					</div>

					<div class='digit-3'>
						{
							Array.from({ length: 11 }).map((_, i) => (
								<div class='num'>{i === 10 ? 0 : i}</div>
							))
						}
					</div>

					<div class='digit-4'>%</div>
				</div>

				<div class='progress-bar'></div>
			</div>

			<div class='hero-imgs'>
				<img
					src='/imgs/alina-levkovich-1.jpg'
					alt='alina levkovich 1'
				/>
				<img
					src='/imgs/alina-levkovich-2.jpg'
					alt='alina levkovich 2'
				/>
				<img
					src='/imgs/alina-levkovich-3.jpg'
					alt='alina levkovich 3'
				/>
				<img
					src='/imgs/alina-levkovich-4.jpg'
					alt='alina levkovich 4'
				/>
				<img
					src='/imgs/alina-levkovich-5.jpg'
					alt='alina levkovich 5'
				/>
				<img
					src='/imgs/alina-levkovich-6.jpg'
					alt='alina levkovich 6'
				/>
				<img
					src='/imgs/alina-levkovich-7.jpg'
					alt='alina levkovich 7'
				/>
			</div>
		</section>

		<section class='content'>
			<nav>
				<div class='logo'><p>Logo</p></div>
				<div class='job-title'><p>Photographer</p></div>
				<div class='menu'><p>Menu</p></div>
			</nav>

			<h1 class='header'>
				{'RIYADH'.split('').map((letter) => <span>{letter}</span>)}
			</h1>
		</section>
	</main>
</Layout>

<script>
	import gsap from 'gsap'

	gsap.set('nav', { y: -150 })

	const digit1 = document.querySelector<HTMLDivElement>('.digit-1')
	const digit2 = document.querySelector<HTMLDivElement>('.digit-2')
	const digit3 = document.querySelector<HTMLDivElement>('.digit-3')

	animateDigit(digit1, 2, 5)
	animateDigit(digit2, 6, 1)
	animateDigit(digit3, 5, 1)

	/* gsap.to('.progress-bar', {
		width: '30%',
		duration: 2,
		ease: 'power4.inOut',
		delay: 7,
	})

	gsap.to('.progress-bar', {
		width: '100%',
		opacity: 0,
		duration: 2,
		delay: 8.5,
		ease: 'power3.out',
		onComplete: () => {
			document.querySelector('.pre-loader')?.remove()
		},
	})

	gsap.to('.hero-imgs > img', {
		clipPath: 'polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%)',
		duration: 1,
		ease: 'power4.inOut',
		stagger: 0.25,
		delay: 9,
	})

	gsap.to('.hero', {
		scale: 1,
		duration: 3,
		ease: 'power3.inOut',
		delay: 9,
	})*/

	function animateDigit(
		digitGrp: HTMLDivElement | null,
		duration: number,
		delay: number
	) {
		if (!digitGrp) return

		const digitHeight = digitGrp.querySelector('.num')?.clientHeight ?? 0
		const digitColHeight =
			(digitGrp.querySelectorAll('.num').length - 1) * digitHeight

		gsap.to(digitGrp, {
			y: -digitColHeight,
			duration,
			delay,
			ease: 'power2.inOut',
		})
	}
</script>

<style>
	.hero-imgs {
		position: relative;

		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
		}
	}

	.hero {
		height: 100svh;
		width: 100svw;

		padding: 3rem;
	}

	.pre-loader {
		position: fixed;
		top: 0;
		right: 0;

		width: 200%;
		height: 100%;
		padding: 2rem;

		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 0.5rem;

		z-index: 10;

		p {
			width: max-content;
			text-transform: uppercase;
			font-size: 4rem;
		}
	}

	.counter {
		font-size: 6rem;
		height: 6rem;
		display: flex;
		text-align: right;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}

	.digit-1,
	.digit-2,
	.digit-3,
	.digit-4 {
		position: relative;
		display: inline-block;
		top: -1rem;
	}

	.progress-bar {
		top: 0.5rem;
		width: 0;
		height: 0.5rem;
		border-radius: 1.5rem;
		background-color: black;
	}

	.content {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 20;

		color: #ffc107;
	}

	nav > div {
		flex: 1;
		font-size: 2.5rem;
		font-weight: lighter;
		text-transform: uppercase;
		color: #ffc107;
	}

	.job-title {
		text-align: center;
	}

	.menu {
		text-align: right;
	}

	.logo {
		text-align: left;
	}

	.header {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		font-size: 10rem;
		letter-spacing: 2rem;
		text-transform: uppercase;
	}

	.hide {
		display: none;
	}
</style>
