---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title='Landing Pages'
	description='A collection of beautifully animated landing pages'
>
	<a href='/photographer'>Photographer</a>
</Layout>
