---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title='Landing Pages'
	description='A collection of beautifully animated landing pages'
>
	<main class='p-8'>
		<h1 class='pb-2 text-3xl font-semibold'>Landing Pages</h1>
		<ul class='pl-4 text-lg underline'>
			<li><a href='/photographer'>Photographer</a></li>
			<li><a href='/furniture-store'>Furniture Store</a></li>
		</ul>
	</main>
</Layout>
