---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'

import alinaLevkovich1 from '@public/photographer/imgs/alina-levkovich-1.jpg'
import alinaLevkovich2 from '@public/photographer/imgs/alina-levkovich-2.jpg'
import alinaLevkovich3 from '@public/photographer/imgs/alina-levkovich-3.jpg'
import alinaLevkovich4 from '@public/photographer/imgs/alina-levkovich-4.jpg'
import alinaLevkovich5 from '@public/photographer/imgs/alina-levkovich-5.jpg'
import alinaLevkovich6 from '@public/photographer/imgs/alina-levkovich-6.jpg'
import alinaLevkovich7 from '@public/photographer/imgs/alina-levkovich-7.jpg'

const IMAGES = [
	{ src: alinaLevkovich1, alt: 'alina levkovich 1' },
	{ src: alinaLevkovich2, alt: 'alina levkovich 2' },
	{ src: alinaLevkovich3, alt: 'alina levkovich 3' },
	{ src: alinaLevkovich4, alt: 'alina levkovich 4' },
	{ src: alinaLevkovich5, alt: 'alina levkovich 5' },
	{ src: alinaLevkovich6, alt: 'alina levkovich 6' },
	{ src: alinaLevkovich7, alt: 'alina levkovich 7' },
] as const
---

<Layout
	title='Photographer'
	description='Photographer landing page'
	class='h-svh overflow-hidden bg-yellow-500 text-slate-800'
>
	<div
		id='loader'
		class='fixed bottom-0 right-0 flex h-[9rem] w-[150%] justify-end gap-x-4 overflow-hidden pb-4 pr-8'
	>
		<div class='flex text-right text-8xl leading-normal'>
			<div id='digit1'>
				<div>0</div>
				<div>1</div>
			</div>

			<div id='digit2'>
				{
					Array.from({ length: 11 }).map((_, i) => (
						<div>{i === 10 ? 0 : i}</div>
					))
				}
			</div>

			<div id='digit3'>
				{
					Array.from({ length: 11 }).map((_, i) => (
						<div>{i === 10 ? 0 : i}</div>
					))
				}
			</div>

			<div>%</div>
		</div>

		<div id='progress-bar' class='h-2 self-end rounded-lg bg-slate-800'>
		</div>
	</div>

	<div id='bgs-container' class='fixed left-0 top-0 -z-10 size-full p-16'>
		<div class='relative size-full'>
			{
				IMAGES.map((props) => (
					<Image
						{...props}
						width={1920}
						height={1080}
						loading='eager'
						class='poly-hidden-right absolute size-full object-cover'
					/>
				))
			}
		</div>
	</div>

	<nav
		id='top-bar'
		class='fixed left-0 top-0 flex w-full -translate-y-24 justify-between p-4 text-4xl text-yellow-500'
	>
		<a href='/'>Logo</a>
		<p>[ Photographer ]</p>
		<a href='/'>Menu</a>
	</nav>

	<h1
		id='title'
		class='absolute bottom-1/2 right-1/2 translate-x-1/2 translate-y-1/2 overflow-hidden text-9xl tracking-[2rem] text-yellow-500'
	>
		{
			'RIYADH'
				.split('')
				.map((letter) => <span class='relative top-32'>{letter}</span>)
		}
	</h1>
</Layout>

<script>
	import gsap from 'gsap'

	const tl = gsap.timeline()

	tl.to('#digit3', { y: '-90rem', duration: 5 })
		.to('#digit2', { y: '-90rem', duration: 6 }, '<')
		.to('#digit1', { y: '-9rem', duration: 2, delay: 4 }, '<')
		.to('#progress-bar', {
			width: '30%',
			ease: 'power4.inOut',
			duration: 2,
		})
		.to('#progress-bar', {
			width: '100%',
			opacity: 0,

			ease: 'power3.out',
			duration: 2,
			onComplete: () => {
				document.querySelector('#loader')?.remove()
			},
		})
		.to(
			'#bgs-container',
			{
				scale: 1.25,
				ease: 'power3.inOut',
				duration: 3,
				delay: 0.5,
			},
			'<'
		)
		.to(
			'#bgs-container img',
			{
				clipPath: 'polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%)',
				ease: 'power4.inOut',
				duration: 1,
				stagger: 0.25,
			},
			'<'
		)
		.to('#top-bar', {
			y: 0,
			ease: 'power3.out',
			duration: 1,
		})
		.to(
			'#title span',
			{
				top: 0,
				ease: 'power3.out',
				duration: 1,
				stagger: 0.1,
			},
			'<'
		)
</script>

<style>
	@font-face {
		font-family: 'Playfair Display';
		src:
			local('Playfair Display Regular'),
			local('PlayfairDisplay-Regular'),
			url('/photographer/fonts/playfair-display-regular.woff2')
				format('woff2'),
			url('/photographer/fonts/playfair-display-regular.woff')
				format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Playfair Display';
		src:
			local('Playfair Display Bold'),
			local('PlayfairDisplay-Bold'),
			url('/photographer/fonts/playfair-display-bold.woff2')
				format('woff2'),
			url('/photographer/fonts/playfair-display-bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	body {
		font-family: 'Playfair Display', serif;
	}
</style>
