---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		height: 100svh;
		width: 100svw;
		overflow: hidden;
		color: #212121;
		background-color: #ffc107;

		font-family: 'Playfair Display', serif;
	}

	@font-face {
		font-family: 'Playfair Display';
		src:
			local('Playfair Display Regular'),
			local('PlayfairDisplay-Regular'),
			url('/fonts/playfair-display-regular.woff2') format('woff2'),
			url('/fonts/playfair-display-regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Playfair Display';
		src:
			local('Playfair Display Bold'),
			local('PlayfairDisplay-Bold'),
			url('/fonts/playfair-display-bold.woff2') format('woff2'),
			url('/fonts/playfair-display-bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
</style>
